.git
.jj
target/*
!target/x86_64-unknown-linux-musl/
target/x86_64-unknown-linux-musl/*
!target/x86_64-unknown-linux-musl/release/
target/x86_64-unknown-linux-musl/release/*
!target/x86_64-unknown-linux-musl/release/as-control
!target/x86_64-unknown-linux-musl/release/as-relay
!target/aarch64-unknown-linux-musl/
target/aarch64-unknown-linux-musl/*
!target/aarch64-unknown-linux-musl/release/
target/aarch64-unknown-linux-musl/release/*
!target/aarch64-unknown-linux-musl/release/as-control
!target/aarch64-unknown-linux-musl/release/as-relay
target-*
.env
